<?xml version='1.0'?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Df_Config:etc/system_file.xsd"
>
    <system>
        <section
            id='dfe_twitter'
            translate='label'
            type='text'
            showInDefault='1'
            showInWebsite='1'
            showInStore='1'
        >
            <tab>_df</tab>
            <label>Twitter</label>
            <class>separator-top</class>
            <!--
                2015-11-09
                https://mage2.pro/t/174
            -->
            <resource>Dfe_Twitter::config</resource>
            <group
                id='timeline'
                translate='label'
                type='text'
                sortOrder='1'
                showInDefault='1'
                showInWebsite='1'
                showInStore='0'
            >
                <label>Timeline</label>
                <dfExtension>Dfe\TwitterTimeline\Ext</dfExtension>
            	<frontend_model>Df\Config\Block\System\Config\Form\Fieldset\Ext</frontend_model>
                <field
                    id='enable'
                    translate='label'
                    type='Df\Framework\Form\Element\Checkbox'
                    sortOrder='1'
                    showInDefault='1'
                    showInWebsite='1'
                    showInStore='1'
                >
                    <label>Enable?</label>
                    <backend_model>Df\Config\Backend\Checkbox</backend_model>
                    <comment><![CDATA[]]></comment>
                </field>
<!--
	2016-03-09
	https://github.com/mage2pro/core/tree/34f8c108/Framework/Data/Form/Element/Textarea.php#L39
	https://github.com/mage2pro/core/tree/34f8c108/Config/etc/system_file.xsd#L102
-->
                <field
                    id='html'
                    translate='label'
                    type='Df\Framework\Form\Element\Textarea'
                    dfRows='7'
                    sortOrder='2'
                    showInDefault='1'
                    showInWebsite='1'
                    showInStore='1'
                >
                    <label>Widget HTML Code</label>
                    <comment><![CDATA[Paste it from the Twitter <a href='https://twitter.com/settings/widgets/new'>Widgets Configurator</a>.]]></comment>
                    <depends><field id='enable'>1</field></depends>
                </field>
                <field
                    id='limit'
                    translate='label'
                    type='Df\Framework\Form\Element\Select\Range'
					dfMax='20'
					dfMin='1'
                    sortOrder='3'
                    showInDefault='1'
                    showInWebsite='1'
                    showInStore='1'
                >
                    <label>Number of Tweets to Show</label>
                    <comment><![CDATA[Leave empty for an automatic value.
<br/>Set from 1 to 20 to display the specific number of items.
<br/>The timeline will automatically adjust its height to fit the specified number of Tweets.
<br/>The timeline is fixed after display; it will not poll for new Tweets.]]></comment>
                    <validate>validate-number validate-greater-than-zero</validate>
                    <depends><field id='enable'>1</field></depends>
                </field>
                <!-- https://dev.twitter.com/web/embedded-timelines#dimensions -->
                <field
                    id='height'
                    translate='label'
                    type='text'
                    sortOrder='4'
                    showInDefault='1'
                    showInWebsite='1'
                    showInStore='1'
                >
                    <label>Height</label>
                    <comment><![CDATA[In pixels.
<br/>Leave empty if yes have set the «Number of Tweets to Show»: the height will be adjusted automatically.]]></comment>
                    <validate>validate-number validate-greater-than-zero</validate>
                    <depends><field id='enable'>1</field></depends>
                </field>
                <field
                    id='scrollbar'
                    translate='label'
                    type='Df\Framework\Form\Element\Checkbox'
                    sortOrder='5'
                    showInDefault='1'
                    showInWebsite='1'
                    showInStore='1'
                >
                    <label>Show Vertical Scrollbar?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
                    <comment><![CDATA[]]></comment>
                    <depends><field id='enable'>1</field></depends>
                </field>
                <field
                    id='borders'
                    translate='label'
                    type='Df\Framework\Form\Element\Checkbox'
                    sortOrder='6'
                    showInDefault='1'
                    showInWebsite='1'
                    showInStore='1'
                >
                    <label>Show Borders?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
                    <comment><![CDATA[Setting this to «No» removes all borders within the widget including borders surrounding the widget area and separating Tweets.]]></comment>
                    <depends><field id='enable'>1</field></depends>
                </field>
                <field
                    id='header'
                    translate='label'
                    type='Df\Framework\Form\Element\Checkbox'
                    sortOrder='7'
                    showInDefault='1'
                    showInWebsite='1'
                    showInStore='1'
                >
                    <label>Show Header?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
                    <comment><![CDATA[Setting this to «No» hides the timeline header.]]></comment>
                    <depends><field id='enable'>1</field></depends>
                </field>
                <field
                    id='footer'
                    translate='label'
                    type='Df\Framework\Form\Element\Checkbox'
                    sortOrder='8'
                    showInDefault='1'
                    showInWebsite='1'
                    showInStore='1'
                >
                    <label>Show Footer?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
                    <comment><![CDATA[Setting this to «No» hides the timeline footer and Tweet composer link, if included in the timeline widget type.]]></comment>
                    <depends><field id='enable'>1</field></depends>
                </field>
                <field
                    id='transparent'
                    translate='label'
                    type='Df\Framework\Form\Element\Checkbox'
                    sortOrder='9'
                    showInDefault='1'
                    showInWebsite='1'
                    showInStore='1'
                >
                    <label>Transparent?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
                    <comment><![CDATA[Setting this to «Yes» removes the widget’s background color.]]></comment>
                    <depends><field id='enable'>1</field></depends>
                </field>
            </group>
        </section>
    </system>
</config>